.toggle-button{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: none !important;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.toggle-button:focus{
outline: none;
}

.btn-line{
  width: 25px;
  height: 1.5px;
  background: #fff;
  border-radius: 10px;
}