.side-drawer{
  height: 100vh;
  background: #ffffff;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.side-drawer li{
  padding: 10px;
  margin: .5rem 0;
  border-bottom: 1px solid #000000;
}

.side-drawer a{
  text-decoration: none;
  font-size: 1.2rem;
}

.side-drawer li:hover,
.side-drawer li:active{
  background: #dadada;
}

.close-button{
  color: rgb(90, 90, 90);
  top: 0;
  text-align: right;
  padding: 0  30px 0 0;
  cursor: pointer;
}